.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

::placeholder {
  color: mediumorchid;
}

textarea {
  height: 300px;
  max-height: 300px;
  max-width: 100%;
  resize: none;
  margin: 5px;
}

.w100 {
  width: 100%;
  margin: 5px;
  padding: 2px 5px 2px;
  color: darkmagenta;
}

.btn {
  margin: 5px;
  padding: 2px 5px 2px;
}

.flex_inline {
  display: flex;
}

.title {
  margin: auto;
}

.text-inside-grid {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  margin: 5px;
}
