<div class="text-inside-grid">
  <div style="text-align: center;"><h3 class="title">consumer</h3></div>
    <div class="flex_inline">
      <input matInput placeholder="consumer group" disabled="true" class="w50" [(ngModel)]="group">
      <input matInput placeholder="topic" disabled="true" class="w50" [(ngModel)]="topic">
    </div>
    <textarea matInput placeholder="consumed messages" disabled="true" class="w100" [(ngModel)]="messages"></textarea>
    <button mat-button mat-raised-button color="primary" class="btn" (click)="clearTextArea()">clear</button>
</div>
