<div class="text-inside-grid">
  <div style="text-align: center;"><h3 class="title">producer</h3></div>
  <div class="flex_inline">
    <input matInput placeholder="topic" disabled="true" class="w100" [(ngModel)]="topic">
    <mat-slide-toggle [(ngModel)]="isOneObject" class="slide">send as one object</mat-slide-toggle>
  </div>
  <textarea matInput placeholder="type message to produce" disabled="false" class="w100"
            [(ngModel)]="messages"></textarea>
  <button mat-button type="submit" mat-raised-button color="primary" class="btn" (click)="send()">send</button>
</div>
